<div class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
    <div class="row mt-5 mx-5">
        <div class="col-12 col-md">
            <h5>{{ TITLE }}</h5>
            <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>特徴</h5>
            <ul class="list-unstyled text-small ">
                <li><a class="link-secondary text-muted" href="{% url 'top' %}">Top</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>季節のおすすめ食材</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="{% url 'tag_list' 'spring' %}">春 3~5月</a></li>
                <li><a class="link-secondary text-muted" href="{% url 'tag_list' 'summer' %}">夏 6~8月 </a></li>
                <li><a class="link-secondary text-muted" href="{% url 'tag_list' 'autumn' %}">秋 9~11月</a></li>
                <li><a class="link-secondary text-muted" href="{% url 'tag_list' 'winter' %}">冬 12~2月</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>料理のご提案</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">人気</a></li>
                <li><a class="link-secondary text-muted" href="#">時短15分以内</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>サイトについて</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">Company</a></li>
                <li><a class="link-secondary text-muted" href="#">Privacy</a></li>
                <li><a class="link-secondary text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</div>