<div class="container w-100 bg-dark text-white py-4" style="max-width: 100%;">
    <div class="row mt-5 mx-5">
        <div class="col-12 col-md">
            <h5>{{ TITLE }}</h5>
            <small class="d-block mb-3 text-muted">&copy; 2017-2021</small>
        </div>
        <div class="col-6 col-md">
            <h5>商品</h5>
            <ul class="list-unstyled text-small ">
                <li><a class="link-secondary text-muted" href="{% url 'top' %}">Top</a></li>
                <li><a class="link-secondary text-muted" href="{% url 'tag_list' SEASON %}">旬の食材</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>おすすめ料理</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">人気</a></li>
                <li><a class="link-secondary text-muted" href="#">時短15分以内</a></li>
            </ul>
        </div>
        <div class="col-6 col-md">
            <h5>サイトについて</h5>
            <ul class="list-unstyled text-small">
                <li><a class="link-secondary text-muted" href="#">Company</a></li>
                <li><a class="link-secondary text-muted" href="#">Privacy</a></li>
                <li><a class="link-secondary text-muted" href="#">Terms</a></li>
            </ul>
        </div>
    </div>
</div>